<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.modules.openiduser.dao.OpenidUserMapper">
  <resultMap id="BaseResultMap" type="com.company.project.modules.openiduser.model.OpenidUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>